<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-lg-5 offset-1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10162.314682250772!2d30.44417278097049!3d50.44894812083709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce8345bc5c09%3A0xf6390d568a3416d3!2z0JrQuNGX0LLRgdGM0LrQsCDQvNGW0YHRjNC60LAg0YHRgtGD0LTQtdC90YLRgdGM0LrQsCDQv9C-0LvRltC60LvRltC90ZbQutCw!5e0!3m2!1suk!2sua!4v1672086855000!5m2!1suk!2sua" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-5" >
            <div class="row">
                <div class="col-3">Адреса:</div>
                <div class="col-8"><em>вул. Політехнічна, 25/29, Київ</em></div>
            </div>
            <div class="row pt-3">
                <div class="col-3">Телефон:</div>
                <div class="col-6"><em>+380960000000</em></div>
            </div>
            <div class="row pt-3">
                <div class="col-3">Пошта:</div>
                <div class="col-6"><em>hospital@mail.com</em></div>
            </div>
            <div class="row pt-3">
                <div class="col-5 mt-1">Соціальні мережі:</div>
                <div class="col-6">
                    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/" class="fa fa-twitter"></a>
                    <a href="https://www.google.com/" class="fa fa-google"></a>
                </div>
            </div>
        </div>        
    </div>
</div>

