<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-lg">
            <p>
                Phasellus non lacus sollicitudin, posuere turpis id, eleifend tellus. Sed eu urna id nibh eleifend imperdiet. Nullam rutrum et est nec aliquet. Quisque nunc orci, rhoncus nec consequat non, venenatis eget nibh. Curabitur facilisis mollis tortor egestas pharetra. Donec in vulputate libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit felis id sapien fringilla euismod. In porta libero justo, ut aliquam ex iaculis nec. Integer sed nulla felis.
            </p>
        </div>
        <div class="col-lg text-center" >
            <img src="../../../assets/images/home.jpg" class="rounded" alt="Our hospital">
        </div>        
    </div>
</div>
