<div class="container-fluid">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-8">
            <span style="font-size: 24px;">{{doctor.lastName}} {{doctor.firstName}} {{doctor.middleName}}</span>
            <div class="row mt-4">
                <div class="col d-flex justify-content-center">
                    <i class='fas fa-user-md' style='font-size:132px;'></i>
                </div>                
                <div class="col ms-2">
                    <div class="row">
                        <div class="col">
                            <span>Спеціалізація:</span>
                        </div>
                        <div class="col">
                            <span>{{doctor.specialization}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>Досвід роботи:</span>
                        </div>
                        <div class="col">
                            <span>{{doctor.experience}} років</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <input type="submit" class="form-control" value="Записатися" (click)="open(content)">
                    </div>                 
                </div>
                <div class="col ms-3">
                    <input type="datetime-local" name="" id="" min="today" #inputDate>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal >
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Запис на прийом</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="form-group">
            <label for="firstname">ПІБ</label>
            <div class="input-group">
              <input id="firstname" class="form-control" name="name" [(ngModel)]="form.patientName" >
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Телефон</label>
            <div class="input-group">
              <input id="phone" class="form-control" name="phone" placeholder="380661515155" [(ngModel)]="form.patientPhone">
            </div>
          </div>

          <div class="form-group">
            <label for="date">Дата</label>
            <div class="input-group">
              <input id="date" class="form-control" name="date" type="datetime-local" [(ngModel)]="form.date">
            </div>
          </div>

          <div class="form-group">
            <label for="favor">Послуга</label>
            <div class="input-group">
                <select #favorsList class="form-select" name="date" aria-label="Default select example" (change)="onValueChanged(favorsList.value)" [(ngModel)]="form.favor">
                    <option selected disabled hidden>Послуги</option>
                    <option *ngFor="let item of favorNames" [value]="item">
                        {{item}}
                    </option>
                </select>
            </div>
          </div>

          <div class="form-group" *ngIf="checkSelectedFavor()">
            <label for="favor">Лікар</label>
            <div class="input-group">
                <select class="form-select" name="doctor" aria-label="Default select example" [(ngModel)]="form.doctor">
                    <option selected disabled hidden>Лікарі</option>
                    <option *ngFor="let item of doctorNames" [value]="item">
                        {{item}}
                    </option>
                </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-dark" (click)="onSubmit()">Записатися</button>
      </div>
</ng-template>
<!-- (click)="modal.close('Save click')" -->